@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: 'OpenSans Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype'); */
}

* {
  box-sizing: border-box;
  /* border: 2px solid black; */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
